################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1_PCI/.vs/Lab1_PCI/v15/Browse.VC.opendb
/Lab1.2/.vs/Lab1.2/v15/Browse.VC.opendb
/Lab1.2/.vs/Lab1.2/v15/Browse.VC.opendb
/Lab2_HDD/.vs/Lab2_HDD/v15/Browse.VC.opendb
